
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /tribute_nelson_goncalves/tribute_ng/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /tribute_nelson_goncalves/tribute_ng/index.php [L]
</IfModule>

# END WordPress