// Theme Colors
// $my-color-1: ;
// $my-color-2: ;
// $my-color-3: ;
// $my-color-4: ;
// $my-color-5: ;

// $theme-colors: (
//   "my-color-1": $my-color-1,
//   "my-color-2": $my-color-2,
//   "my-color-3": $my-color-3,
//   "my-color-4": $my-color-4,
//   "my-color-5": $my-color-5
// );


// Theme Color Classes


// Theme Element Classes
div.background-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../assets/img.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

div.row.cover-mirrored {
  height: 173px;
}

div.sheet-post {
  height: 100%;
}

// WordPress Classes
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

// Import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
