// Import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Theme Colors
$sky-theme: #0540F2;
$my-color-2: #F294C0;
$flame-theme: #F24141;
// $my-color-4: ;
// $my-color-5: ;

$theme-colors: (
  "sky-theme": $sky-theme,
  "my-color-2": $my-color-2,
  "flame-theme": $flame-theme,
//   "my-color-4": $my-color-4,
//   "my-color-5": $my-color-5
);

$bg: $sky-theme;
$sea-theme: $my-color-2;
$button: $flame-theme;

// Background Image
div.background-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../assets/img.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-color: $bg;
}

// Invisible Cover
div.cover-mirrored {
  height: 31vh;
}

div.sheet-post {
  height: 100%;
}

// Bootstrap Modification
.btn-danger {
  background-color: $button;
}

// Image Responsive WordPress
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}
