<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap-reboot.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Tribute - Nelson Gonçalves</title>
    
  </head>
  <body>
    <header>

      <div class="background-img"></div>

      <div class="container">

        <div class="row cover-mirrored"></div>

        <div class="row">
          <div class="col-6"></div>
          <div class="col-6 pl-5">

            <nav class="navbar navbar-expand-lg navbar-dark">

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active mr-2">
                    <a class="nav-link" href="#">Início <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active mr-2">
                    <a class="nav-link" href="#">Biografia</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Dedicatória</a>
                  </li>
                </ul>
              </div>

            </nav>

          </div>
        </div>

        <div class="row">
          <div class="col-6"></div>
          <div class="col-6 pl-5 mt-3">

            <div class="card bg-transparent" style="width: 27em;">
              <div class="card-body bg-transparent">
                <h5 class="card-title text-light">Card title</h5>
                <p class="card-text text-light">é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60.</p>
                <a href="#" class="btn btn-light border border-info rounded-pill active">Go somewhere</a>
              </div>
            </div>

          </div>
        </div>

      </div>>


    </header>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
